<div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-bullseye"></i> 
        </span>
      Browse
    </h3>
    <style> h4 {text-align: center;} </style>
    <h4 style="color:blueviolet;">
        <b>Learn about different careers & industries</b>
        <p>
            If you aren't sure of what type of careers are out there this is a good place to start
            before you take the quiz. 
          </p>
      </h4>

      <
  </div>
<div class="col-md-20 d-flex align-items-stretch">
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Technology</h4>
                <p class="card-description">
                </p>
                <p>
                The technology industry is comprised of companies that design, manufacture, or 
                distribute electronic devices such as computers, computer-related equipment, 
                computer services and software, scientific instruments, and electronic components and products. 
                </p>
                <button type="button" class="btn btn-gradient-light btn-rounded btn-fw">Learn More</button>

              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex align-items-stretch">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Robotics</h4>
                    <p class="card-description">
                    </p>
                    <p>
                        An industrial robot is a robot system used for manufacturing. 
                        Industrial robots are automated, programmable and capable of 
                        movement on three or more axes.
                    </p>
                    <button type="button" class="btn btn-gradient-light btn-rounded btn-fw">Learn More</button>
    
                  </div>
                </div>
              </div>
              <div class="col-md-12 d-flex align-items-stretch">
                <div class="row">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Defense</h4>
                        <p class="card-description">
                        </p>
                        <p>
                        The Aerospace/Defense Industry serves, as its name represents, 
                        two main markets: Aerospace, which largely comprises the 
                        production, sale, and service of commercial aircraft. 
                        And Defense, which is dependent on the nation's need 
                        for military weapons and systems designed to operate on 
                        land, sea, and in the air.
                        </p>
                        <button type="button" class="btn btn-gradient-light btn-rounded btn-fw">Learn More</button>
        
                      </div>
                    </div>
                  </div>